[Unit]
Description=H2 Database Server
After=network.target

[Service]
User=devuser
ExecStart=/usr/bin/java -cp /opt/h2/h2-{{ h2_version }}.jar org.h2.tools.Server -tcp -tcpAllowOthers -tcpPort 9092 -baseDir /opt/developers/h2-db
Restart=on-failure

[Install]
WantedBy=multi-user.target
