[Unit]
Description=CA4 Spring Boot App
After=network.target

[Service]
User=devuser
WorkingDirectory=/opt/developers
ExecStart=/usr/bin/java -jar /opt/developers/spring-app.jar
Restart=on-failure
Environment=JAVA_TOOL_OPTIONS=-XX:+UseG1GC

[Install]
WantedBy=multi-user.target
